
html,
body {
    height: 100%;
    width: 100%;
    display: grid;
}

.col-centered{
    margin: 0 auto;
    float: none;
}

.btn-centered{ 
    text-align: center; 
}

.error input, .error select {
    border: 2px red solid;
}
