{% extends "appointments/base.html" %}

{% block pageTitle %}
    <title>Display Appointments</title>
{% endblock %}


{% block pageHeading %}
    <h3 align="center">Display appointments</h3>
{% endblock %}


<!-- Loop over the Appointment objects received from the showAppointments view and list them. -->

{% block content %}

    {% if appts %}
        <ul>
            {% for appt in appts %}
                <li>{{ appt.doc_name }}</li>
            {% endfor %}
        </ul>    

       
    {% else %}
    <div class="text-center">
        <br><br><br>
            <div class="alert alert-danger" role="alert">
                    No appointments have been reserved!
            </div>
    </div>
    {% endif %}

{% endblock %}