{% extends "appointments/base.html" %}

{% block pageTitle %}
    <title>Appointments</title>
{% endblock %}

{% block pageHeading %}
    <h3 align="center">Appointments</h3>
{% endblock %}

{% block content %}
    <div class="text-center">
        <br><br><br><br><br>
        <a href="/appointments/display" class="btn btn-primary btn-lg btn-outline-primary pull-left">Show Appointments</a>
        <a href="/appointments/create" class="btn btn-primary btn-lg btn-outline-primary pull-left">Create Appointment</a>
    </div> 
{% endblock %}